<!-- Single Responsibility: Display title and navigation -->
<div class="header-wrapper">
	<div class="header-container header-top">
		<div class="header-title">
			<h2>Formula 1 World Champions</h2>
		</div>
		<div class="header-nav">
			<nav class="navbar nav">
				<ul>
					<li routerLinkActive="active">
						<a
							class="nav-link"
							routerLink="seasons"
						>Seasons</a>
					</li>
					<li routerLinkActive="active">
						<a
							class="nav-link"
							routerLink="schedules"
						>Schedules</a>
					</li>
					<li routerLinkActive="active">
						<a
							class="nav-link"
							routerLink="teams"
						>Teams</a>
					</li>
					<li routerLinkActive="active">
						<a
							class="nav-link"
							routerLink="drivers"
						>Drivers</a>
					</li>
					<li routerLinkActive="active">
						<a
							class="nav-link"
							routerLink="circuits"
						>Circuits</a>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
		</div>
	</div>
</div>
