@import '../../assets/scss/colours.scss';

.background-container {
	box-sizing: border-box;
	margin: 0;
	border: 0cm;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.body-container {
		position: fixed;
		// top: 67px;
		// bottom: 67px;

		top: 10%;
		bottom: 10%;
		overflow: auto;

		margin: 0;
		padding: 0;
		border: 0cm;
		left: 0;
		right: 0;
		min-width: 100%;
		background-color: transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		box-sizing: border-box;

		&::-webkit-scrollbar {
			width: 5px;
			background-color: $secondary;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			background-color: $secondary;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
			background-color: $primary;
		}
	}
}
