<!-- Single Responsibility: Display footer messages -->
<footer class="app-footer mt-auto">
	<div className="container d-flex flex-column">
		<div class="row">
			<p class="disclaimer">This is an unofficial app built on Formula 1 data from the <strong><a href="http://ergast.com/mrd">Ergast.com API</a></strong> and has no affiliation with FIA, FOM, Formula One or its teams.</p>
			<p class="copyright">Copyright &copy; {{ year }} <strong><span>Khutso Bhuda</span></strong>. All Rights Reserved</p>
		</div>
	</div>
</footer>
